*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 100%;
}

.navbar.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -83px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    transform: translateY(82px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
.custom_navlink{
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 0px 8px 0;
}

.custom_navlink:hover{
    color: #0093ff;
    /* font-weight: 700; */
}

.custom_social_link{
    font-size: 1.2em;
}

.custom_social_link:hover{
    opacity: 0.7;
    cursor: pointer;
}

.custom_f{
    color: #008dff;
}

.custom_w{
    color: #049a15;
}

.custom_social_margin{
    margin: 0 10px 0;

}

.mob_no{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}


/* carousel section */

.custom_carousel{
    position: relative;
}
.custom_carousel_caption{
    position: absolute;
    top: 18%;
    right: 23%;
    text-align: right;
    padding: 1%;
}

.custom_carousel_caption h1{
    color: #008dff;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
    line-height: 80px;
    font-size: 5.5em;
}

.custom_carousel_caption p{
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 40px;
    font-size: 2.2em;
}

.custom_carousel_caption button{
    color: #ffffff;
    background-color: #000000;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    border: none;
    padding: 1.5% 4%;
    /* padding: 0.8em 2.2em; */
}

.custom_carousel_caption button:hover{
    background-color: #000000c5;
}


.custom_row_margin{
    /* margin: 0; */
}

/* section 3 */


.section_3{
    background-color: #d9eaff57;
    /* background-color: #b6deff; */
    /* padding: 4% 8% 2%; */
}

.small_p{
    width: 73px;
    max-width: 40px;
    white-space: nowrap;
}

.small_p p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    margin: 145px auto;
    color: #565656d0;
    text-align: center;
    font-size: 15px;
    /* width: 20px;
    max-width: 140px; */
    position: relative;
    /* transform: rotate(90deg); */
    writing-mode: vertical-rl;
}

.small_p p:before {
    content: "";
    display: block;
    height: 80px;
    width: 1px;
    background: #008dff;
    left: 49%;
    bottom: 90px;
    position: absolute;
}

.small_p p:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #008dff;
    border-radius: 50%;
    right: 42%;
    position: absolute;
    bottom: -14px;
}

.section_3_col_1{
    /* margin-top: 4%; */
}

.section_3_col_1_inner{
    /* text-align: right; */
    /* margin-right: -6%; */
    position: relative;
}

.section_3_col_1_inner h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    line-height: 50px;
    /* padding-left: 40%; */
    z-index: 1111;
}

.section_3_col_1_inner p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.1em;
    /* padding-left: 40%; */
    /* margin: 2% 0 2%; */
    /* line-height: 10px; */
}

.section_3_col_1_inner button{
    font-family: 'Saira Condensed', sans-serif;
    background-color: white;
    border: none;
    padding: 1em 2em;
    margin-top: 2%;
    box-shadow: 5px 8px 13px rgba(14, 10, 14, 0.06);
    transition: 0.5s;
}

.section_3_col_1_inner button:hover{
    transform: scale(1.06);
}

.img_div{
    position: relative;
    /* margin-left: -4%; */
}

.img_1{
    /* height: 75%; */
}

.img_2{
    height: 40%;
    position: absolute;
    top: 50%;
    left: 20%;
}

.img_3{
    height: 60%;
    position: absolute;
    top: 20%;
    left: 35%;
}

.circle{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #d9eaff;
    position: absolute;
    top: -5%;
    right: 33%;
    z-index: -1;
}

.circle_3{
    top: -3%;
    right: 48%;
}

.section_3_col_2{
    text-align: center;
    justify-content: center;
    /* margin-top: 2%; */
    /* padding: 0 10% 0; */
}

.section_3_col_2 img{
    /* width: 35%; */
    height: 70px;
    margin-bottom: 10px;
}

.section_3_col_2 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8em;
    opacity: 0.8;
    margin-top: 5%;
}

.section_3_col_2 p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.1em;
    opacity: 0.8;
    padding: 0 25%;
}



/* section 4 */

.section_4{
    /* padding: 4% 20% 4%; */
    border-top: 1px solid rgba(128, 128, 128, 0.124);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.section_4_inner{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.img_4{
    width: 359px;
    height: 435px;
    /* height: 30%; */
}

.section_4_div2_img{
    /* display: flex; */
    /* padding-left:10px; */
    position: relative;
}

.section_4_col_2{
    /* margin-top: 1%; */
    /* margin: 0 4% 0; */
    /* padding: 4% 0 0; */
}

.img_5{
    width: 207px;
    /* height: 183px; */
    padding: 0;
}

.img_6{
    width: 207px;
    /* height: 183px; */
    /* position: absolute; */
    /* top: 16%;
    right: 4%; */
    margin-left: 4%;
    margin-top: 4%;
    z-index: 1;
}

.section_4_circle{
    height: 10em;
    width: 10em;
    border: 6px solid #d9eaff;
    border-radius: 50%;
    /* position: absolute;
    top: -10%;
    right: -8%; */
    margin-left: -20%;
    margin-top: -5%;
    top: 0;
    position: absolute;
    right: 0;
}

.section_4_col_2 h2{ 
    font-family: "Josefin Sans", sans-serif;
    text-align: left;
    font-size: 3em;
    font-weight: 500;
}

.section_4_col_2 p{ 
    font-family: 'Saira Condensed', sans-serif;
    text-align: left;
    font-size: 1.1em;
    font-weight: 500;
    opacity: 0.6;
    padding-right: 40%;
    margin-bottom: 8%;
}



/* section 5 */

.section_5{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.124);
    /* padding: 4% 20% 4% 5%; */
}

.section_5_inner{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 10%; */
}

.section_5_col_1{
    position: relative;
}

.section_5_col_1_inner{
    /* text-align: right; */
    /* padding: 2% 6% 2% 35%; */
}

.img_7{
    width: 359px;
    height: 435px;
}

.section_5_col_1_inner h1{ 
    font-family: "Josefin Sans", sans-serif;
    font-size: 3em;
    font-weight: 500;
}

.section_5_col_1_inner p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    opacity: 0.6;
    /* padding-left: 15%; */
    /* margin-top: 12%; */
}

.section_5_col_1_inner button{
    font-family: 'Saira Condensed', sans-serif;
    background-color: white;
    border: none;
    padding: 1em 2em;
    margin-top: 2%;
    box-shadow: 5px 8px 13px rgba(14, 10, 14, 0.06);
    transition: 0.5s;
}

.section_5_col_1_inner button:hover{
    transform: scale(1.06);
}

.circle_2{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #d9eaff;
    position: absolute;
    z-index: -1;
    top: -3%;
    right: 36%;
}

.small_span:before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #008dff;
    left: -70%;
    top: 50%;
    position: absolute;
}

.small_span:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #008dff;
    border-radius: 50%;
    right: 0;
    top: 50%;
    position: absolute;
}





/* .section_6{
    padding: 4% 8% 4%;
}

.section_6_div1 button{
    background-color: #000000;
    color: white;
} */



/* section 6 */

.section_6{
    /* width: 100%; */
    position: relative;
    background: url(./assets/capa_21.png);
}

.section_6 img{
    width: 100vw;
    height: 40vh;
}

.section_6_vdo_header{
    /* position: absolute; */
    /* top: 20%; */
    /* left: 35%; */
    /* text-align: center; */
    /* color: white; */
    /* padding: 0 25em; */
    /* background: url(./assets/capa_21.png); */
}

.section_6_vdo_header img{
    height: 60px;
    width: 60px;
}

.section_6_vdo_header h1{
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
    margin: 20px 0 5px 0;
}

.section_6_vdo_header p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.5em;
}




.section_7{
    /* padding: 4%; */
}

.section_7_header{
    text-align: center;
}

.section_7_header_inner{
    margin-bottom: 2%;
}

.section_7_header h1{
    font-family: 'Josefin Sans', sans-serif;
}

.section_7_header p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
}

.img_9{
    width: 100%;
    height: 100%;
    /* padding: 0 2em; */
    position: relative;
}

.img_9:hover{
    /* filter: brightness(70%); */
}

.img_div_com{
    position: relative;
    cursor: pointer;
}

.img_div_com_inner{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.2em;
    /* visibility: hidden; */
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    transform: scale(0);
    transition: .3s;
    background: #00000057;
}

.img_div_com_inner p{
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 8px;
}

.img_div_com_inner span{
    border: 2px solid white;
    border-radius: 50%;
    /* padding: 8px 10px; */
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.img_div_com:hover .img_div_com_inner{
    transform: scale(1);
}

.section_10{
    background-color: #000000;
    padding: 2% 0 4%;
    color: white;
}

.section_10_div1{
    font-size: 1.2em;
}

.section_10_inner{
    text-align: center;
}

.section_10_div2 p{
    font-size: 0.9em;
    font-family: 'Saira Condensed', sans-serif;
    padding-top: 5px;
    margin-bottom: 10px;
}
.section_10_div2 span{
    opacity: 0.6;
}

.section_10_social_icon{
    margin: 20px 0 10px 0;
}

.section_10_social_icon span{
    border: 2px solid white;
    border-radius: 50%;
    /* padding: 8px 12px; */
    margin: 0 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.section_10_social_icon span:hover{
    background-color: #008dff;
    border: 2px solid #008dff;
}

.section_11{
    padding-bottom: 10px;
}

/* .section_11_div2{
    position: relative;
} */
.section_11_div2_img{
    /* margin-top: 5%; */
}

.section_11_div2_img img{
    /* height: 80%; */
}

.section_11_div1{
    padding: 4px 4px 4px 40px;
}

.section_11_div1_inner1{
    padding-left: 8%;
    display: flex;
}

.section_11_div1_inner1_circle{
    width: 7px;
    height: 7px;
    background-color: #008dff;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 14px;
}

.section_11_div1 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.8em;
}

.section_11_div1 p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
}

.section_11_p_opacity{
    opacity: 0.6;
}

.section_11_p{
    font-size: 1.1em;
    line-height: 15px;
}

.section_11_mob_no{
    color: #008dff;
}

.contact_form{
    /* font-family: 'Saira Condensed', sans-serif; */
    /* background-color: #d9eaff; */
    /* height: 75%; */
    /* width: 20%; */
    /* padding: 4%; */
    /* margin-left: -16%; */
    /* margin-right: 16%; */
    /* margin-top: -70px; */
    padding-bottom: 40px;
    margin-left: -40px;
}
.contact_form_inner {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #d9eaff;
    margin-top: -40px;
}

.contact_form input, textarea{
    background: transparent;
    border: none;
    outline: none;
}

.contact_form button{
    background-color: #008dff;
    color: white;
    border: none;
    margin-top: 8%;
    padding: 2% 12%;
    text-transform: uppercase;
    box-shadow: 5px 8px 13px rgba(14, 10, 14, 0.349);
    transition: 0.5s;
}

.contact_form button:hover{
    background-color: #008cffcb;
    transform: scale(1.06);
}

.contact_form input::placeholder{
    padding-left: 10px;
}

.contact_form textarea{
    resize: none;
}

.contact_form_icon{
    opacity: 0.8;
}

.contact_form_inner_div1{
    border-bottom: 1px solid rgba(128, 128, 128, 0.393);
    margin-top: 8%;
    padding-bottom: 4%;
}

@media screen and (min-width: 1705px){
    .circle{
        top: -6%;
        left: 40%;
    }
}

@media screen and (min-width: 1450px){
    .section_4_circle{
        /* top: 0; */
        /* right: 8%; */
        /* right: 0; */
    }
}

@media screen and (max-width: 1400px) {
    .custom_carousel_caption h1{
        font-size: 4em;
        line-height: 60px;
    }
    .custom_carousel_caption p{
        font-size: 2em;
        line-height: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .custom_carousel_caption h1{
        font-size: 3.5em;
        line-height: 50px;
    }
    .custom_carousel_caption p{
        font-size: 1.6em;
        line-height: 30px;
    }

    .section_3_row_1{
        /* display: flex; */
        /* flex-direction: column; */
    }
    .circle{
        top: -6%;
        right: 45%;
    }
    .img_div{
        margin-left: 0;
    } 
    .img_2{
        top: 50%;
        left: 15%;
    }
    
    .img_3{
        top: 20%;
        left: 26%;
    }
    .section_4_inner{
        display: flex;
        flex-direction: column;
    }
    .section_4_col_2{
        /* padding-left: 5%; */
    }
    .section_4_col_1{
        padding-left: 8%;
    }
    .section_5_inner{
        /* display: flex; */
        /* flex-direction: column; */
    }
    .section_5_col_1_inner{
        padding: 0;
    }
    .circle_2{
        top: -2%;
        right: 48%;
    }
    .img_7{
        /* margin-top: 4%; */
    }
    /* .section_5_col_1_inner{
        text-align: center;
    } */
    /* .section_6_vdo_header{
        top: 10%;
        left: 30%;
    } */
}

@media screen and (max-width: 900px) {
    .custom_carousel_caption h1{
        font-size: 2.5em;
        line-height: 40px;
    }
    .custom_carousel_caption p{
        font-size: 1.2em;
        line-height: 20px;
    }
    .circle{
        top: -6%;
        right: 26%;
    }
    .img_div .img_1{
        /* margin-top: 4%; */
        /* margin-left: 24%; */
        margin: 0;
        width: 70%;
    } 
    .img_2{
        top: 56%;
        left: 9%;
        width: 30%;
        height: auto;
    }
    
    .img_3{
        top: 13%;
        right: 0px;
        width: 50%;
        height: auto;
    }
    .section_6_vdo_header{
        top: 10%;
        left: 25%;
    }
    /* .section_6_vdo_header img{
        height: 4em;
        width: 4em;
    }
    
    .section_6_vdo_header h1{
        font-size: 2em;
        font-weight: 400;
        margin: 0;
    }
    
    .section_6_vdo_header p{
        font-size: 1.2em;
    } */
}

@media screen and (max-width: 767px) {
    .img_div_com{
        /* margin: 2% 2% 0 18%; */
    }
}

@media screen and (max-width: 600px) {
    .custom_carousel_caption h1{
        font-size: 2em;
        line-height: 30px;
    }
    .custom_carousel_caption p{
        font-size: 1em;
        line-height: 10px;
    }
    .circle{
        top: -6%;
        right: 42%;
    }
    .img_div{
        margin-top: 6%;
        margin-left: 15%;
    } 
    .circle_2{
        top: -2%;
        right: 52%;
    }
    .section_6_vdo_header{
        top: 10%;
        left: 15%;
    }
}

@media screen and (max-width: 500px) {
    .section_3_col_1_inner{
        /* text-align: center; */
        /* margin-right: -14%; */
    }
    
    .section_3_col_1_inner h1{
        /* padding-left: 2%; */
        z-index: 1111;
    }
    
    .section_3_col_1_inner p{
        padding-left: 0;
    }
    .section_3_col_2 p{
        padding: 0 10%;
    }
    .circle{
        left: 0;
    }
    .small_p p:before {
        left: -80%;
    }
    
    .small_p p:after {
        right: -10%;
    }
    .img_div{
        margin-bottom: 16%;
        margin-left: 0;
    } 
    .img_2{
        height: 50%;
        top: 65%;
        left:30%;
    }
    
    .img_3{
        height: 70%;
        top: 35%;
        left: 50%;
    }

    .section_4_col_2 h2,p{
        margin-left: 0;
        padding: 0 !important;
    }
    
    .img_7 , .img_4{
      margin-left: 0;
      width: 100%;
      height: auto;
    }
    .circle_2{
        top: -2%;
        left: 20%;
    }
    .img_1{
        height: 20em;
    }
    .section_11_div2_img img{
        height: auto;
        margin-top: 0;
    }
    .contact_form{
        margin: 0;
        /* height: 50%; */
        padding-bottom: 0;
    }
    .circle{
        right: 46%;
    }
    .custom_col_1 button{
        margin-bottom: 5%;
    }
    .custom_col_2 img{
        height: 30%;
    }
    .custom_col_2 p{
        padding: 0 15%;
    }
    .img_5{
        width: 50%;
        height: auto;
    }
    
    .img_6{
        width: 50%;
        height: auto;
        /* margin: 0; */
    }
    .section_5_col_1_inner p{
        padding-left: 2%;
    }
    /* .section_4_circle{
        display: none;
    } */
    .circle_2{
        right: 32%;
    }
    .section_6_vdo_header{
        left: 10%;
    }
    .section_6_vdo_header p{
        font-size: 1.2em;
        margin-left: -2%;
    }
    .circle_3{
        right: 32%;
    }
    .img_9{
        /* padding: 10px 0; */
    }
    .section_10_div1{
        padding: 10px 0;
    }
    .section_10_social_icon span{
        /* padding: 4px 6px; */
        /* margin: 0 5px; */
    }
    .section_11_div1 h1{
        line-height: 1em;
    }
    .contact_form_inner_div1{
        margin-top: 6%;
        padding-bottom: 2%;
    }
    .custom_carousel img{
        height: 30vh;
    }
    .custom_carousel_caption h1{
        line-height: 20px;
        font-size: 2em;
    }
    
    .custom_carousel_caption p{
        line-height: 20px;
        font-size: 0.8em;
    }
    .custom_carousel_caption button{
        padding: 0.2em 1em;
        font-size: 15px;
    }
    .custom_carousel_caption{
        position: absolute;
        top: 18%;
        right: 13%;
    }
    .section_7_header_inner p{
        margin-left: 2%;
    }
}

@media(max-width:767px){
    .section_11_div1 {
        padding: 0;
    }
    .small_p { 
        display: none;
    }
    .section_4_col_2 h2,.section_5_col_1_inner h1,.section_6_vdo_header h1,.section_11_div1 h1,.section_3_col_1_inner h1  {
        font-size: 22px;
        padding-left: 0;
        /* text-align: left; */
        line-height: 32px;
    }
    .section_3_col_1_inner h1 br{
        display: none;
    }
    .section_3_col_2 h2{
        font-size: 18px;
    }
    .section_5_col_1_inner p br, .section_6_vdo_header p br{
        display: none;
    }
}
@media (max-width:991px){
    .small_p{
        display: none;
    }
    .img_5 {
        width: 46%; 
        padding: 0;
    }
    .img_6 {
        width: 49%;  
        margin-left: 5px;
        margin-top: 30px;
        z-index: 1;
    }
    .section_4_circle {
        height: 5em;
        width: 5em; 
        margin-left: 0;
        margin-top: 0%;
        top: 0; 
        right: 0;
    }
    .section_11_div1{
        padding-left: 0;
    }
    .section_3_col_2 img { 
        height: 50px; 
    }
    
}

@media(max-width:991px) and (min-width:768px){
    .section_4_col_2 h2,.section_5_col_1_inner h1,.section_6_vdo_header h1,.section_11_div1 h1,.section_3_col_1_inner h1 {
       
    font-size: 27px;
    line-height: 33px;

    }
    .section_3_col_2 h2{
        font-size: 20px;
    }
}

